<% if @current_user %>
  <div class="page dashboard row">
    <div class="col-xs-12" style="height:initial;">
      <div class="page-header">
        <h1 class="dashboard-title"><i class="icon"></i>Olá, seja bem-vindo!</h1>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <p>Selecione uma opção para começar</p>
    </div>
  </div>
<% end %>