<div class="page tasks row">
  <div class="col-xs-12" style="height:initial;">
    <div class="page-header">
      <h1 class="tasks-title"><i class="icon"></i> Tarefas</h1>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <p>Este painel está em construção</p>
  </div>
</div>